<%= form_for(@local) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="espacamento">
  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local, autofocus: 'autofocus' %>
  </div>  
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
