<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Locais</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_local_path %></li>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Local</th>
    <th width="80">Ações</th>
  </tr>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.local %></td>
    <td>
      <%= link_to edit_local_path(local), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to local, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>
