<% unless flash.empty? %>
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3><%= flash[:warning] %></h3>
  </div>
<% end %>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Editando função</a>
    <ul class="nav">
      <li><%= link_to 'Salvar', '#', class: 'salvar' %></li>
      <li><%= link_to 'Cancelar', functions_path %></li>
    </ul>
  </div>
</div>

<%= render 'form' %>
