<p id="notice"><%= notice %></p>

<p>
  <b>Diária:</b>
  <%= @daily_function_local.daily.daily %>
</p>

<p>
  <b>Função:</b>
  <%= @daily_function_local.function.name %>
</p>

<p>
  <b>Local:</b>
  <%= @daily_function_local.local.local %>
</p>
