<div class="espacamento">
  <%= form_for(@duration) do |f| %>
    <% if @duration.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @duration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :initiation %>
      <%= f.text_field :initiation, class: 'datepicker', placeholder: 'dd/mm/aaaa' %>
    </div>

    <div class="field">
      <%= f.label :duration_status_id %>
      <%= f.collection_select :duration_status_id, DurationStatus.where(deleted: false), :id, :role, prompt:true %>
    </div>

    <div class="field">
      <%= f.label :act_number %>
      <%= f.text_field :act_number %>
    </div>

    <div class="field">
      <%= f.label :sector_id %>
      <%= f.collection_select :sector_id, Sector.where(deleted: false), :id, :name, prompt: true %>
    </div>

    <div class="field">
      <%= f.hidden_field :user_id %>
    </div>

    <div class="field">
      <%= f.label :function_id %>
      <%= f.collection_select :function_id, Function.where(deleted: false), :id, :name_level %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
