<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Blocos</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_block_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th width="80">Ações</th>
    </tr>

  <% @blocks.each do |block| %>
    <tr>
      <td><%= block.name %></td>
      <td>
        <%= link_to edit_block_path(block), title: 'Editar' do %><i class="icon-edit"></i><% end %>
        <%= link_to block, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %><i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>