<p id="notice"><%= notice %></p>
<div class='espacamento'>
	<p>
	  <b>Type name:</b>
	  <%= @user_type.type_name %>
	</p>


	<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
	<%= link_to 'Back', user_types_path %>
<div>