<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>District:</b>
  <%= @address.district %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>Numberzip code:</b>
  <%= @address.numberzip_code %>
</p>

<p>
  <b>Complement:</b>
  <%= @address.complement %>
</p>

<p>
  <b>User:</b>
  <%= @address.user %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
