<% if @administrator.errors.any? %>
  <div class="alert alert-block">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Wops!</h3>
      <ul>
      <% @administrator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
<div class="espacamento">
  <%= form_for @administrator, url: administrator_create_path do |f| %>
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Ainda não existe um administrador definido para o sistema!</h3>
      <p>Faça o cadastro abaixo para definir um Administrador.</p>
    </div>

    <h1>Defina um administrador!</h1>
    <hr>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br>

    <%= f.submit t('buttons.save'), class: 'btn btn-info' %>
  <% end %>
</div>