<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Cargos</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_role_path %></li>
    </ul>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th width="80">Ações</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td>
      <%= link_to edit_role_path(role), title: 'Editar' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to role, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
    </td>
  </tr>
<% end %>
</table>

