<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Status das vigências</a>
    <ul class="nav">
      <li><%= link_to 'Criar novo', new_duration_status_path %></li>
    </ul>
  </div>
</div>

<div class="espacamento">
  <table class="table table-hover">
    <tr>
      <th>Estado</th>
      <th width="80">Ações</th>
    </tr>

  <% @duration_statuses.each do |duration_status| %>
    <tr>
      <td><%= duration_status.role %></td>
      <td>
        <%= link_to edit_duration_status_path(duration_status), title: 'Editar' do %><i class="icon-edit"></i><% end %>
        <%= link_to duration_status, method: :delete, data: { confirm: 'Você tem certeza?' }, title: 'Remover' do %> <i class="icon-trash"></i> <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

