<p id="notice"><%= notice %></p>

<p>
  <b>Schedule:</b>
  <%= @fixed_reserf.schedule %>
</p>

<p>
  <b>Week day:</b>
  <%= @fixed_reserf.week_day %>
</p>

<p>
  <b>Space:</b>
  <%= @fixed_reserf.space %>
</p>

<p>
  <b>Semester:</b>
  <%= @fixed_reserf.semester %>
</p>


<%= link_to 'Edit', edit_alocation_permanent_path(@fixed_reserf) %> |
<%= link_to 'Back', alocation_permanents_path %>
