<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="espacamento">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>