<%= form_for(@daily) do |f| %>
  <% if @daily.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @daily.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="espacamento">
  <div class="field">
    <%= f.label :daily %>
    <div class="input-prepend">
      <span class="add-on">R$</span>
      <%= f.text_field :daily, autofocus: 'autofocus' %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $('.salvar').click(function() {
    $('form').submit();
  });
</script>
